[submodule "vendor/detours/Detours"]
	path = vendor/detours/Detours
	url = https://github.com/microsoft/Detours
[submodule "rangers-sdk"]
	path = rangers-sdk
	url = https://www.github.com/HE2-SDK/rangers-sdk
